.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

h2 {
  margin-top: 30px;
}

.input-container {
  margin-top: 20px;
}

.robot-info {
  margin-bottom: 10px;
}

.result-container {
  margin-top: 20px;
}
